@use "../../foundation/variable" as v;

.c-card {
  &__scroll {
    display: flex;
    width: var(--content-width);
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 25px;
    z-index: 1;
  }

  &__scroll--tab {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 25px;
    z-index: 1;
  }

  &__item {
    flex: 0 0 280px;
    padding: 5px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
    background: #F5F5F5;

    &:hover {
      background: #eaf4fa;
    }
  }

  &__ribbon {
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    position: absolute;
    left: -15px;
    top: 10px;
    background: linear-gradient(to right, #75c0df, #ace550);
    padding: 9.5px 9.5px 9.5px 14px;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      border-style: solid;
      border-width: 0 15px 10px 0;
      border-color: transparent #a6c674 transparent transparent;
    }
  }

  &__imgWrap {
    position: relative;
    width: 100%;
  }

  &__img {
    &--large {
      width: 100%;
      height: 170px;
      border-radius: 8px;
      object-fit: cover;
      border: 1px solid#dfdfdf;
    }

    &--square {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 8px;
      object-fit: cover;
      border: 1px solid#dfdfdf;
    }
  }

  &__badge {
    position: absolute;
    left: 20px;
    min-width: 63px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    background: #f2ad75;
    padding: 4.2px 7px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__tag {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.1;
    color: #FFF;
    background: v.$color-textMain;
    border-radius: 999px;
    padding: 2px 11px;
    align-self: flex-start;
  }

  &__tag--large {
    min-width: 105px;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    background: #6D94BD;
    border-radius: 30px;
    padding: 4.4px 6px;
    line-height: 1.2;
    text-align: center;
  }

  &__floor {
    font-size: 12px;
    color: v.$color-textSub;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    color: v.$color-textMain;
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    color: v.$color-textMain;
  }

  &__period {
    height: 18px;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 500;
    color: v.$color-textSub;
  }

  &__list {
    display: flex;
    gap: 20px;
    min-width: max-content;
  }

  &__listItem {
    flex-shrink: 0;
  }

  &__body--rect {
    display: flex;
    width: 450px;
    height: 185px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.3);
    background: #F5F5F5;
    gap: 20px
  }

  &__imgWrap--rect {
    width: 153px;
    height: 153px;
  }

  &__infoWrap--rect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}