@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.c-globalNav {
  @include m.sp {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    background-color: #d5e6ed;
    border-radius: 9999px;
  }

  &__item {
    text-align: center;
    position: relative;
    flex: 1;


    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 15px;
      background-color: #666;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 500;
    font-feature-settings: "palt";
    color: v.$color-textMain;

    &:hover {
      text-decoration: underline;
    }
  }
}