@use "../../foundation/variable" as v;

.c-sectionTitle {
  &__wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  &__en {
    color: v.$color-textMain;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
  }

  &__jp {
    color: v.$color-textMain;
    font-size: 14px;
    line-height: 1.1;
  }
}