.u-mt {
  &--4 {
    margin-top: 4px;
  }

  &--4d8 {
    margin-top: 4.8px;
  }

  &--6 {
    margin-top: 6px;
  }

  &--8d4 {
    margin-top: 8.4px;
  }

  &--10 {
    margin-top: 10px;
  }

  &--15 {
    margin-top: 15px;
  }

  &--20 {
    margin-top: 20px;
  }

  &--24 {
    margin-top: 24px;
  }

  &--25d6 {
    margin-top: 25.6px;
  }

  &--30 {
    margin-top: 30px;
  }

  &--35 {
    margin-top: 35px;
  }

  &--45 {
    margin-top: 45px;
  }

  &--55 {
    margin-top: 55px;
  }

  &--60 {
    margin-top: 60px;
  }

  &--70 {
    margin-top: 70px;
  }

  &--75 {
    margin-top: 75px;
  }
}

.u-mr {
  &--5 {
    margin-right: 5px;
  }

  &--20 {
    margin-right: 20px;
  }

  &--50 {
    margin-right: 50px;
  }
}

.u-mb {
  &--10 {
    margin-bottom: 10px;
  }

  &--15 {
    margin-bottom: 15px;
  }

  &--25d6 {
    margin-bottom: 25.6px;
  }

  &--33 {
    margin-bottom: 33px;
  }

  &--110 {
    margin-bottom: 110px;
  }
}

.u-ml {
  &--20 {
    margin-left: 20px;
  }

  &--45 {
    margin-left: 45px;
  }

  &--50 {
    margin-left: 50px;
  }
}

.u-padding--15 {
  padding: 15px;
}

.u-pt--20 {
  padding-top: 20px;
}

.u-pt--30 {
  padding-top: 30px;
}

.u-pr--15 {
  padding-right: 15px !important;
}

.u-pl--15 {
  padding-left: 15px !important;
}

.u-pb--100 {
  padding-bottom: 100px;
}