@use "../../foundation/mixin" as m;

.u-hoverOp--50 {
  transition: opacity 0.3s;
}

.u-hoverOp--50:hover {
  opacity: 0.5;
}

.u-height--38 {
  min-height: 38px;
}

.u-height--210 {
  height: 210px;
}

.u-height--270 {
  height: 270px;
}

.u-height--290 {
  height: 290px;
}

.u-height--290 {
  height: 290px;
}

.u-height--410 {
  height: 410px;
}

.u-width--142 {
  width: 142px;
}

.u-width--310 {
  width: 310px;
}

.u-width--495 {
  width: 495px;
}

.u-bold {
  font-weight: bold !important;
}

.u-bold--700 {
  font-weight: 700;
}

.u-fontSize--33 {
  font-size: 33px;
}

.u-fontSize--43 {
  font-size: 43px;
}

.u-bgc--darkred {
  background-color: #e54829;
}

.u-bgc--tag1 {
  background-color: #6D94BD;
}

.u-bgc--tag2 {
  background-color: #C4788F;
}

.u-bgc--tag3 {
  background-color: #C9A565;
}

.u-category {
  &--fashion {
    --icon-color: #7794bb;
    --circle-color: #bdcfe8;
  }

  &--sweet {
    --icon-color: #ba7c8e;
    --circle-color: #eec7d1;
  }

  &--meal {
    --icon-color: #c3a76e;
    --circle-color: #f7e0b4;
  }

  &--info {
    --icon-color: #94af6d;
    --circle-color: #cadcaf;
  }

  &--ticket {
    --icon-color: #79afb0;
    --circle-color: #b3d9da;
  }
}

.u-color {
  &--fashion {
    background: #7794bb;
  }

  &--sweet {
    background: #ba7c8e;
  }

  &--meal {
    background: #c3a76e;
  }

  &--info {
    background: #94af6d;
  }

  &--ticket {
    background: #79afb0;
  }

  &--blue {
    color: #88a8d1 !important;
  }
}

.u-center {
  text-align: center;
}

.u-z--1 {
  z-index: 1;
}

.u-al--center {
  align-items: center;
}

.u-top--42 {
  top: 42px;
}

.u-z--1 {
  z-index: 1;
}

.u-pc-only {
  @include m.sp {
    display: none !important;
  }
}

.u-sp-only {
  display: none !important;

  @include m.sp {
    display: block !important;
  }
}