@use "../../foundation/mixin" as m;

.p-bg__blue {
  background-color: #a2d6e4;
  overflow: hidden;
  padding-top: 20px;

  @include m.sp {
    padding-top: 15px;
  }
}

.p-bg__decoWrap {
  width: var(--content-width);
  position: relative;
  margin-inline: auto;
  pointer-events: none;
  position: relative;
}

.p-bg__white {
  position: relative;
  background-color: #fff;
  padding-bottom: 190px;
  overflow-x: clip;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    top: -183px;
    left: 0;
    background-color: #FFF;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }
}

.p-bg__white--2 {
  position: relative;
  background-color: #fff;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    top: -219px;
    left: 0;
    background-color: #FFF;
    clip-path: polygon(0 100%, 100% 0%, 100% 100%);
  }
}

.p-bg__deco {
  &--cloudWhite {
    width: 460px;
    position: absolute;
    top: -43px;
    left: -150px;
    object-fit: cover;
  }

  &--sun {
    width: 248px;
    position: absolute;
    top: -45px;
    right: -145px;
    object-fit: cover;
  }

  &--plain {
    height: 125px;
    position: absolute;
    top: 40px;
    left: -340px;
    object-fit: cover;
  }

  &--cloudDot01 {
    width: 442px;
    position: absolute;
    top: 181px;
    right: 120px;
    object-fit: cover;
  }

  &--cloudRain {
    width: 514px;
    position: absolute;
    top: 14px;
    right: -250px;
    object-fit: cover;
  }

  &--cloudDot02 {
    width: 684px;
    position: absolute;
    top: -85px;
    left: -308px;
    opacity: 0.5;
    object-fit: cover;
  }

  &--cloudDot03 {
    width: 442px;
    position: absolute;
    top: 165px;
    right: -275px;
    opacity: 0.5;
    object-fit: cover;
  }

  // &--castle {
  //   width: 1300px;
  //   position: absolute;
  //   bottom: -830px;
  //   object-fit: cover;
  // }

  &--castle {
    width: 1300px;
    position: absolute;
    top: -400px;
    object-fit: cover;
  }

  &--tag {
    width: 48px;
    position: absolute;
    top: -20px;
    left: 400px;
    object-fit: cover;
  }

  &--cloudWhite02 {
    width: 600px;
    position: absolute;
    bottom: -380px;
    left: -300px;
    object-fit: cover;
  }

  &--cloudDot04 {
    width: 496px;
    position: absolute;
    bottom: -200px;
    right: -250px;
    object-fit: cover;
  }

  // &--1 {
  //   width: 460px;
  //   position: absolute;
  //   top: 155px;
  //   left: -140px;
  //   object-fit: cover;
  // }

  // &--2 {
  //   width: 248px;
  //   position: absolute;
  //   top: -45px;
  //   right: -140px;
  //   object-fit: cover;
  // }

  // &--3 {
  //   height: 125px;
  //   position: absolute;
  //   top: 700px;
  //   left: -350px;
  //   object-fit: cover;
  // }

  // &--4 {
  //   width: 442px;
  //   position: absolute;
  //   top: 1255px;
  //   left: 455px;
  //   object-fit: cover;
  // }

  // &--5 {
  //   width: 514px;
  //   position: absolute;
  //   top: 1090px;
  //   left: 740px;
  //   object-fit: cover;
  // }

  // &--6 {
  //   width: 684px;
  //   position: absolute;
  //   top: -85px;
  //   left: -285px;
  //   opacity: 0.5;
  //   object-fit: cover;
  // }

  // &--7 {
  //   width: 442px;
  //   position: absolute;
  //   top: 165px;
  //   left: 855px;
  //   opacity: 0.8;
  //   object-fit: cover;
  // }

  // &--8 {
  //   width: 1300px;
  //   position: absolute;
  //   bottom: -884px;
  //   object-fit: cover;
  // }

  // &--9 {
  //   width: 48px;
  //   position: absolute;
  //   bottom: 390px;
  //   left: 400px;
  //   object-fit: cover;
  // }

  // &--10 {
  //   width: 600px;
  //   position: absolute;
  //   bottom: -60px;
  //   left: -300px;
  //   object-fit: cover;
  // }

  // &--11 {
  //   width: 496px;
  //   position: absolute;
  //   bottom: 133px;
  //   right: -200px;
  //   object-fit: cover;
  // }
}