@use "../../foundation/variable" as v;

.p-popupShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 147px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
    position: relative;
  }
}