@use "../../foundation/mixin" as m;

.p-search {
  @include m.sp {
    padding: 0 20px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 1;

    @include m.sp {
      flex-wrap: wrap;
      justify-content: left;
      gap: 10px;
    }
  }

  &__form {
    position: relative;
    display: flex;
    width: 244px;
    align-items: center;
    background: #fff;
    border-radius: 35px;
    border: 2px solid #4b91ca;
    padding: 3px;
  }

  &__keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__keywordList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &--item {
      width: 72px;
      height: 32px;
    }
  }
}