.p-trend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 115px;
  background-color: #ffe03f;

  &__top {
    width: var(--content-width);
    position: relative;
  }

  &__swiper {
    width: 100%;
    overflow: hidden;

    .swiper-slide {
      width: 310px;
    }
  }

  &__swiperWrapper {
    display: flex;
    transition-timing-function: linear;
  }
}