@use "../foundation/mixin" as m;

.l-header {
  display: flex;
  justify-content: center;
  margin-bottom: 33px;

  @include m.sp {
    margin-bottom: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    &--left {
      display: flex;
    }
  }
}

.l-headerInner {
  display: flex;
  flex-direction: column;
  width: var(--content-width);

  @include m.sp {
    padding: 0 20px;
  }
}